<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="science_led_ros2_control" params="name can_interface:=can0">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>led_ros2_control/LEDHardwareInterface</plugin>
        <param name="can_interface">${can_interface}</param>
        <param name="can_id">0x110</param>
        <param name="update_rate">10</param>
        <param name="logger_rate">5</param>
        <param name="logger_state">0</param>
      </hardware>

      <gpio name="fluoro_led">
        <param name="node_id">1</param>
        <param name="mode">2</param>
        <command_interface name="toggle"/>
        <command_interface name="status_request"/>
        <state_interface name="is_connected"/>
        <state_interface name="status"/>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
