<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="laser_ros2_control" params="name can_interface:=can0">

        <ros2_control name="${name}" type="system">

            <hardware>
                <plugin>laser_ros2_control/LaserHardwareInterface</plugin>
                <param name="can_interface">${can_interface}</param>
                <param name="can_id">0x130</param>
            </hardware>

            <gpio name="${name}">
                <state_interface name="laser_state"/>
                <state_interface name="temperature"/>
                <state_interface name="is_connected"/>
                <command_interface name="laser_command"/>
            </gpio>

        </ros2_control>

    </xacro:macro>

</robot>

