<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="laser_ros2_control" params="name gpio_pin min_power:=0.0 max_power:=1.0">

        <ros2_control name="${name}" type="system">

            <hardware>
                <plugin>laser_ros2_control/LaserHardwareInterface</plugin>
                <param name="gpio_pin">${gpio_pin}</param>
                <param name="min_power">${min_power}</param>
                <param name="max_power">${max_power}</param>
            </hardware>

            <joint name="${name}">
                <state_interface name="laser_state"/>
                <state_interface name="power_level"/>
                <state_interface name="is_ready"/>
                <command_interface name="laser_command"/>
                <command_interface name="power_command"/>
            </joint>

        </ros2_control>

    </xacro:macro>

</robot>

