<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="science_rotary_encoder_ros2_control" params="name can_interface:=can0">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>rotary_encoder_ros2_control/RotaryEncoderHardwareInterface</plugin>
        <param name="can_interface">${can_interface}</param>
        <param name="can_id">0x130</param>
        <param name="update_rate">10</param>
        <param name="logger_rate">5</param>
        <param name="logger_state">0</param>
      </hardware>

      <joint name="conveyor_belt_encoder">
        <param name="node_id">6</param>
        <param name="rotary_encoder_id">0</param>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <command_interface name="state_request"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
