<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="led_ros2_control" params="name can_interface:=can0">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>led_ros2_control/LEDHardwareInterface</plugin>
        <param name="can_interface">${can_interface}</param>
        <param name="can_id">0x120</param>
        <param name="update_rate">10</param> <!-- Hz -->
        <param name="logger_rate">5</param> <!-- Hz -->
        <param name="logger_state">0</param> <!-- 0 for off, 1 for on -->
      </hardware>

      <gpio name="${name}">
        <param name="node_id">0</param>
        <param name="mode">1</param> <!-- 0: intensity (0x20), 1: rgb (0x30), 2: toggle (0x40) -->
        <command_interface name="red"/>
        <command_interface name="green"/>
        <command_interface name="blue"/>
        <!-- <command_interface name="intensity"/> -->
        <command_interface name="status_request"/>
        <state_interface name="status"/>
      </gpio>

    </ros2_control>

  </xacro:macro>

</robot>
