<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rmd_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>rmd_ros2_control/RMDHardwareInterface</plugin>
      </hardware>

      <joint name="wheel_front_left_joint">
        <param name="node_write_id">323</param> <!-- 0x143 -->
        <param name="node_read_id">579</param> <!-- 0x243 -->
        <param name="gear_ratio">1</param>
        <param name="joint_orientation">-1.0</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="wheel_front_right_joint">
        <param name="node_write_id">322</param> <!-- 0x142 -->
        <param name="node_read_id">578</param> <!-- 0x242 -->
        <param name="gear_ratio">1</param>
        <param name="joint_orientation">1.0</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wheel_back_left_joint">
        <param name="node_write_id">321</param> <!-- 0x141 -->
        <param name="node_read_id">577</param> <!-- 0x241 -->
        <param name="gear_ratio">1</param>
        <param name="joint_orientation">-1.0</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="wheel_back_right_joint">
        <param name="node_write_id">329</param> <!--0x149-->
        <param name="node_read_id">585</param> <!--0x249-->
        <param name="gear_ratio">1</param>
        <param name="joint_orientation">1.0</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>