<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="odrive_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
        <param name="can">can0</param>
      </hardware>

      <joint name="swerve_module_front_left_joint">
        <param name="node_id">6</param>
        <param name="gear_ratio">1</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="swerve_module_front_right_joint">
        <param name="node_id">5</param>
        <param name="gear_ratio">1</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>