controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_trajectory_controller:
  ros__parameters:
    joints:
      - base_yaw
      - shoulder_pitch
      - elbow_pitch
      - wrist_pitch
      - wrist_roll
      - gripper_claw
      - actuator
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity
    
    state_publish_rate: 50.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 0.6
      base_yaw:
        trajectory: 0.1
        goal: 0.05
      shoulder_pitch:
        trajectory: 0.1
        goal: 0.05
      elbow_pitch:
        trajectory: 0.1
        goal: 0.05
      wrist_pitch:
        trajectory: 0.1
        goal: 0.05
      wrist_roll:
        trajectory: 0.1
        goal: 0.05
      gripper_claw:
        trajectory: 0.1
        goal: 0.05
      actuator:
        trajectory: 0.1
        goal: 0.05