controller_manager:
  ros__parameters:
    update_rate: 10  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    arm_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController

    manual_arm_cylindrical_controller:
      type: arm_controllers/ManualArmCylindricalController

    manual_arm_joint_by_joint_controller:
      type: arm_controllers/ManualArmJointByJointController
    

joint_trajectory_controller:
  ros__parameters:
    joints:
      - base_yaw
      - shoulder_pitch
      - elbow_pitch
      - wrist_pitch
      - wrist_roll
      - gripper_claw
      - actuator

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    action_monitor_rate: 20.0         # Rate to monitor status changes when the controller is executing action

    allow_partial_joints_goal: true

    # Open loop:The controller ignores the states provided by hardware interface but using 
    # last commands as states for starting the trajectory interpolation
    # deactivates the feedback control
    open_loop_control: true 
    constraints:
      # Velocity tolerance for at the end of the trajectory that indicates that controlled system is stopped.
      stopped_velocity_tolerance: 0.01 

      # Time tolerance for achieving trajectory goal before or after commanded time. 
      # If set to zero, the controller will wait a potentially infinite amount of time.
      goal_time: 10.0
      # base_yaw:
      #   trajectory: 0.05              # trajectory offset tolerance during movement
      #   goal: 0.03                    # trajectory offset tolerance at the goal position
      # shoulder_pitch:
      #   trajectory: 0.05
      #   goal: 0.03
      # elbow_pitch:
      #   trajectory: 0.05
      #   goal: 0.03
      # wrist_pitch:
      #   trajectory: 0.05
      #   goal: 0.03
      # wrist_roll:
      #   trajectory: 0.05
      #   goal: 0.03
      # gripper_claw:
      #   trajectory: 0.05
      #   goal: 0.03

arm_velocity_controller:
  ros__parameters:
    joints:
      - base_yaw
      - shoulder_pitch
      - elbow_pitch
      - wrist_pitch
      - wrist_roll
      - gripper_claw
      - actuator
    interface_name: velocity

manual_arm_cylindrical_controller:
  ros__parameters:
    joints:
      - base_yaw
      - shoulder_pitch
      - elbow_pitch
      - wrist_pitch
      - wrist_roll
      - gripper_claw
      - actuator
    interface_name: velocity
    joint_lengths:
      - 0.53
      - 0.53
      - 0.22

manual_arm_joint_by_joint_controller:
  ros__parameters:
    joints:
      - base_yaw
      - shoulder_pitch
      - elbow_pitch
      - wrist_pitch
      - wrist_roll
      - gripper_claw
    interface_name: velocity
    joint_max_velocities:
      - 62.83185307 # 10 rot/s, please change dawg
      - 0.05148721  # 2.95 dps
      - 0.05148721
      - 0.785398    # 45 dps
      - 0.785398
      - 0.005       # TODO: Find this
