controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    ackermann_steering_controller:
      type: ackermann_steering_controller/AckermannSteeringController

    single_ackermann_controller:
      type: athena_drive_controllers/SingleAckermannController
    
    drive_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController

    drive_position_controller:
      type: position_controllers/JointGroupPositionController

    # swerve_drive_controller:
    #   type: drive_controllers/SwerveDriveController
    

ackermann_steering_controller:
  # unsure why but ackermann controller only goes about half of scale_linear.x in teleop_twist
  # ackermann controller turns to at max scale_angular.yaw*pi. Seems to ignore how much you input, relies more on how fast rover is going
  ros__parameters:
    rear_wheels_names: ["propulsion_bl_joint", "propulsion_br_joint"]
    front_wheels_names: ["steer_fl_joint", "steer_fr_joint"] # This is steering, don't ask why its just called front wheels
    # front_steering_names: ["steer_fl_joint", "steer_fr_joint"]
    front_wheel_track: 0.6604
    rear_wheel_track: 0.6604
    wheelbase: 0.8382
    front_wheels_radius: 0.254
    rear_wheels_radius: 0.254
    use_stamped_vel: true

single_ackermann_controller:
  ros__parameters:
    drive_joints:
      - "propulsion_fl_joint"
      - "propulsion_fr_joint"
      - "propulsion_bl_joint"
      - "propulsion_br_joint"
    steer_joints:
      - "steer_fl_joint"
      - "steer_fr_joint"
    wheelbase: 0.8382
    track_width: 0.6604
    wheel_radius: 0.254

drive_velocity_controller:
  ros__parameters:
    joints:
      - propulsion_fl_joint
      - propulsion_fr_joint
      - propulsion_bl_joint
      - propulsion_br_joint
      - steer_fl_joint
      - steer_fr_joint
    interface_name: velocity

drive_position_controller:
  ros__parameters:
    joints:
      - propulsion_fl_joint
      - propulsion_fr_joint
      - propulsion_bl_joint
      - propulsion_br_joint
      - steer_fl_joint
      - steer_fr_joint
    interface_name: position