<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="athena_arm">

  <!-- Launch file arguments -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo_classic" default="true"/>
  <xacro:arg name="sim_gazebo" default="true"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="use_3dof" default="false"/>
  <xacro:arg name="deactivate_talon" default="false"/>

  <!-- Macro Imports -->
  <!-- Import athena_arm macro -->
  <xacro:include filename="$(find description)/urdf/athena_arm_description.urdf.xacro"/>

  <!-- Import mock ros2_control description -->
  <xacro:include filename="$(find description)/config/mock.ros2_control.xacro" />

  <!-- Import smc ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/arm/arm.smc_2dof.ros2_control.xacro" />
  <xacro:include filename="$(find description)/ros2_control/arm/arm.smc_3dof.ros2_control.xacro" />

  <!-- Import talon ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/arm/arm.talon_2dof.ros2_control.xacro" /> 
  <xacro:include filename="$(find description)/ros2_control/arm/arm.talon_3dof.ros2_control.xacro" /> 

  <!-- Import rmd ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/arm/arm.rmd.ros2_control.xacro" />

  <!-- Import servo ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/arm/arm.servo.ros2_control.xacro" />

  <!-- Import rotary encoder ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/arm/arm.rotary_encoder.ros2_control.xacro" />

  <!-- Import limit switch ros2_control descriptions -->
  <xacro:include filename="$(find description)/ros2_control/arm/arm.base_limit_switch.ros2_control.xacro" />
  <xacro:include filename="$(find description)/ros2_control/arm/arm.end_effector_limit_switch.ros2_control.xacro" />

  <!-- Import odrive ros2_control description -->
  <!-- <xacro:include filename="$(find description)/config/odrive.ros2_control.xacro" /> -->


  <!-- create link fixed to the "world" -->
  <link name="world"/>

  
  <!-- Contains description of arm -->
  <xacro:description/>


  <xacro:if value="$(arg use_mock_hardware)">     <!-- MOCK -->
    <xacro:mock_ros2_control name="mock"/>
  </xacro:if>
  <xacro:unless value="$(arg use_mock_hardware)"> <!-- HARDWARE -->
    <xacro:if value="$(arg use_3dof)">
      <xacro:talon_3dof_ros2_control name="talon" deactivate_talon="$(arg deactivate_talon)"/>
      <xacro:smc_3dof_ros2_control name="smc"/> 
    </xacro:if>
    <xacro:unless value="$(arg use_3dof)">
      <xacro:talon_2dof_ros2_control name="talon" deactivate_talon="$(arg deactivate_talon)"/>
      <xacro:smc_2dof_ros2_control name="smc"/> 
    </xacro:unless>

    <xacro:rmd_ros2_control name="rmd"/>
    <xacro:servo_ros2_control name="servo"/>
    <xacro:rotary_encoder_ros2_control name="rotary_encoder"/>
    <xacro:base_arm_limit_switch_ros2_control name="base_arm_limit_switch"/>
    <xacro:end_effector_limit_switch_ros2_control name="end_effector_limit_switch"/>
    <!-- <xacro:odrive_ros2_control name="odrive"/> -->
  </xacro:unless>

</robot>
