<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="athena_drive">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default=""/>


  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>


  <xacro:include filename="$(find description)/urdf/athena_drive/athena_drive_macro.xacro"/>
  <xacro:include filename="$(find description)/urdf/athena_drive/athena_drive_macro.ros2_control.xacro"/>
  <xacro:include filename="imu.xacro"/>
  <xacro:include filename="gps.xacro"/>


  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <!--
  <xacro:athena_drive prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:athena_drive>
  -->

  
  <!-- Import athena_drive macro -->
  <xacro:include filename="$(find description)/urdf/athena_drive_description.urdf.xacro"/>

  <!-- Import rmd ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/drive/drive.rmd.ros2_control.xacro" />

  <!-- Import odrive ros2_control description -->
  <xacro:include filename="$(find description)/ros2_control/drive/drive.odrive.ros2_control.xacro" />

  <!-- Contains description of drive -->
  <xacro:description/>

  <xacro:if value="$(arg use_sim)">
    <xacro:athena_drive_ros2_control
    name="athena_drive"
    prefix="$(arg prefix)"
    use_mock_hardware="true"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo="true"
    simulation_controllers="$(arg simulation_controllers)"/>
  </xacro:if>
  <xacro:unless value="$(arg use_sim)">
    <xacro:odrive_ros2_control name="odrive"/>
    <xacro:rmd_ros2_control name="rmd"/>
  </xacro:unless>

  
</robot>
