<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="odrive_ros2_control" params="name can_interface">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
        <param name="can_interface">${can_interface}</param>
      </hardware>

       <!-- 
      <joint name="base_yaw">
        <param name="node_id">4</param>
        <param name="gear_ratio">100</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

     <joint name="shoulder_pitch">
        <param name="node_id">6</param>
        <param name="gear_ratio">100</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="elbow_pitch">
        <param name="node_id">7</param>
        <param name="gear_ratio">100</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint> -->
    </ros2_control>

  </xacro:macro>

</robot>