[Unit]
Description=UMD Loop CAN Interface Setup
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/umdloop_can_setup.sh
ExecStop=/sbin/ip link set can0 down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
