<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rmd_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>rmd_ros2_control/RMDHardwareInterface</plugin>
        <param name="update_rate">50</param> <!-- Hz -->
        <param name="can_interface">can0</param>
      </hardware>

      <joint name="shoulder_pitch">
        <param name="node_id">0x14A</param>
        <param name="gear_ratio">100</param>
        <param name="joint_orientation">1.0</param>
        <param name="operating_velocity">150</param> <!-- motor dps -->
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="elbow_pitch">
        <param name="node_id">0x144</param>
        <param name="gear_ratio">100</param>
        <param name="joint_orientation">1.0</param>
        <param name="operating_velocity">150</param> <!-- motor dps -->
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>