<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="smc_ros2_control" params="name">

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>smc_ros2_control/SMCHardwareInterface</plugin>
        <param name="update_rate">10</param> <!-- Hz -->
        <param name="can_interface">can0</param>
      </hardware>

      <joint name="base_yaw">
        <param name="node_id">0x145</param>
        <param name="gear_ratio">40</param>
        <param name="operating_velocity">300</param> <!-- motor dps -->
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_pitch">
        <param name="node_id">0x146</param>
        <param name="gear_ratio">40</param>
        <param name="operating_velocity">1000</param> <!-- motor dps -->
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_roll">
        <param name="node_id">0x147</param>
        <param name="gear_ratio">40</param>
        <param name="operating_velocity">1000</param> <!-- motor dps -->
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
